p{
	width:600px;
	line-height:180%;
}
body{
	background-image:url("https://cdn.imweb.me/upload/S202207202685e30f16e24/3cf57f6774054.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
}